@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

:root{
    --hero-bg: #1F2937;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--hero-bg);
}

.hero {
    background-color: var(--hero-bg);
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    background-color: var(--hero-bg);
}