@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

:root{
    --hero-bg: #1F2937;
    --hero-main: #F9FAF8;
    --hero-thin: #E5E7EB;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

a {
    color: var(--hero-thin);
    text-decoration: none;
}

button {
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    color: white;
    background-color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px;
    background-color: var(--hero-bg);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--hero-main);
}

.header-links {
    display: flex;
    font-size: 18px;
    font-weight: lighter;
    gap: 18px;
}

.hero {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 32px;
    padding: 32px 128px;
    background-color: var(--hero-bg);
}

.hero-left {
    width: 50%;
}

.hero-header {
    font-size: 48px;
    font-weight: bold;
    color: var(--hero-main);
}

.hero-text {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: lighter;
    color: var(--hero-thin);
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
    background-color: grey;
}

.information {
    flex: 1;
    align-self: center;
    margin: 32px 128px;
}

.information-header {
    text-align: center;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.image-box {
    border: 2px solid #3882F6;
    border-radius: 10px;
    aspect-ratio: 1;
}

.image-text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 128px 128px;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-name {
    align-self: flex-end;
    font-size: 26px;
    font-weight: bold;
}

.signup {
    flex: 1;
}

.footer {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--hero-thin);
    background-color: var(--hero-bg);
}

* { /* visual helper */
    border: 0px solid red;
}